.profile-container {
  border: 1px solid #f2f4f7;
}

.title {
  background-color: green;
}

.profile-container .status.isFavorite {
  color: red;
}

.profile-container .status.isRetired {
  color: green;
}
