.container {
  border: 1px solid #101828;
  border-radius: 20px;
  gap: 24px;
  padding: 24px;
}
.card {
  border-radius: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.btn_heart {
  stroke-width: 2.3px;
  stroke: #101828;
  fill: none;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  margin-left: 6px;
  margin-right: 6px;
}
.iconFa {
  margin-right: 6px;
  color: #ffc531;
}
.button {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  border: #d84343;
  background-color: #d84343;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #e44848;
}
.status {
  background-color: aquamarine;
}

.isFavorite {
  composes: status;
  color: red;
}
.isRetired {
  composes: status;
  color: green;
}
