.title {
  background-color: orangered;
  border-radius: 200px;
}
.icon {
  margin-left: 20px;
  margin-right: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--primary-grey-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.box_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--primary-button-color);
}
