.icon {
  margin-left: 20px;
  margin-right: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: var(--primary-black-color);
  background-color: var(--primary-filter-grey-color);
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-block-start: 32px;
}

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
}
.footerLink {
  color: var(--primary-button-color);
}

@media only screen and (min-width: 768px) {
  .footer {
    height: 40px;
  }
  .contactBox {
    flex-direction: row;
    gap: 26px;
    align-items: center;
  }
}

@media (prefers-color-scheme: light) {
  .footer {
    color: var(--primary-filter-grey-color);
    background-color: var(--primary-grey-color);
  }
  .footerLink {
    color: var(--primary-button-hover-color);
  }
}
